.newsletter {
    text-align: center;
    margin-bottom: 1em;
    font-family: $description-font-family;
    @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
    font-weight: 400;
    font-style: italic;
  }